mat-toolbar {
  // background-color: black;

  // mat-icon { color: white; }

  span { 
    text-align: center; 
    width: 80%;
    height: 56px;
  }
}

mat-drawer-container {
  width: 100%;
  height: calc(100% - 64px);

  mat-drawer {
    width: min(55%, 300px);
  }
}

mat-list {
  font-weight:400;

  .selected {
    background-color: rgba(63, 81, 181, 0.2);
    color: #3f51b5;
  }
}