<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <img src="./../assets/img/scale_logo.svg" />
  </span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <ng-container *ngFor="let navItem of navItems">
        <mat-list-item [ngClass]="navItem.klass" (click)="goTo(navItem.item)">
          <mat-icon>{{ navItem.icon }}</mat-icon> {{ navItem.name }}
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
