<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <img src="./../assets/img/penguin-logo.png" />
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawer>
        <p><img (click)="goHome()" src="./../assets/img/scale-logo.svg" /></p>

        <mat-list>
            <a *ngFor="let link of links" 
                [ngClass]="getNgClass(link.path)" 
                (click)="setPath(link.path)">
                {{ link.name }}
            </a>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
