.schedule-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .button-group {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        padding: 0 2%;
        justify-content: space-evenly;

        .button-day {
            width: 21%;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
        }

        .button-day.active {
            background-color: black;
            color: white;
            border-radius: 25px;
        }
    }

    .schedule {
        width: 100%;
        height: calc(100% - 50px);
        overflow-y: auto;
    }
}